// FONTS
$title: 100px;
$header91: 91px;
$header50: 50px;
$header30: 30px;
$header25: 25px;
$header20: 20px;
$header10: 10px;


// LINE COLOR
$whiteColorLine: 2px solid #ffff;
$whiteColorLineXs: 1px solid #ffff;
$orangeColorLine: 5px solid #fb6816;
$orangeColorLineM: 3px solid #fb6816;
$orangeColorLineXs: 2px solid #fb6816;


// TEXT COLOR
$darkColorTx: #202835;
$whiteColorTx: #ffff;
$orangeColorTx: #fb6816;
$grayColorTx: #70788c;
$darkOrangeColorTx: #ab3c05;

// BG-COLOR
$darkColorBg: rgba(32,40,53,0.3);
$darkColorBg70: rgba(32,40,53,0.7);
$orangeColorBg: #fb6816;
$darkBlueColorBg: #202835;
$grayColorBg: #6f7681;
$grayLightColorBg: #f3f3f3;
$grayColorTxBg: #b3b3b3;

// BUTTON COLOR
$firstColor: #ff6600;
$secondTapColor: #ab3c05;
$firstLightColor: #fb6816;


